<%- include("partials/header")-%>



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Covid CASES ON WHATSAPP</h1>
        <h2>follow these steps to Subscribe</h2>
        <p>Open Whatsapp on your phone </p>
        <p>If you have whatsapp installled on your pc <a href="whatsapp://send?phone=+14155238886&text=join dug-sick">
                <h2> click here</h2>
            </a></p>
        <p>Add this number : +14155238886 to contacts</p>
        <p>Type "join dug-sick" and send it</p>
        <p>you will recive confirmation within a minute</p>
        <h1>Get fastest update on Number of Covid cases on your whatsapp</h1>
        <a class="btn btn-warning btn-lg " href="mailto:adarshnayak86@gmail.com">Contact Me</a>
    </main>
</div>
<%- include("partials/footer")-%>
