body {
    color: white;
    background-image: url("/images/covid_bg.png");
    margin-top: 1%;
    font-family: 'Merriweather', serif;
}

main h1 {
    padding: 0 0 2% 0;
    font-family: 'Reggae One', cursive;
    font-size: 3rem;

}

main a,p{
    margin: 2.2% 0 2% 0;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;

}
